<a href="https://colab.research.google.com/github/shivakanha24/test2/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
file_path = '/content/drive/MyDrive/My files/ODD (1).xlsx'
df = pd.read_excel(file_path)

In [ ]:
df.head()

,Booking_ID,Customer_ID,Destination,Travel_Dates,Booking_Date,Number_of_Travelers,Travel_Package,Payment_Method,Total_Cost,Travel_Agent,Customer_Feedback
0,BKG01438,CUST5663,BANGALORE,2024-05-27 - 2025-06-02,2023-07-26,3.0,Premium,Debit Card,41695.84,Bass Inc,Power matter brother guy. Out adult perhaps ge...
1,BKG02701,CUST4963,Vietnam,2024/05/02 / 2025/06/28,2024-02-05,3.0,Standard,Credit Card,36619.85,Wood Group,Position call within size than couple. Effect ...
2,BKG03648,cust5625,Tokyo,2023-12-02 - 2025-03-09,2024-07-17,2.0,NaN,NaN,44543.87,Bridges-Collins,NaN
3,BKG02513,CUST4246,Delhi,2023-11-10 - 2024-09-13,2024-03-15,6.0,Luxury,Credit Card,41053.94,"Edwards, Hill and Lee",NaN
4,bkg02903,CUST3901,Chennai,2023-11-09 - 2024-08-22,2023-04-09,3.0,Luxury,PayPal,36238.26,Hardy Inc,NaN

question 1

In [ ]:
cost = df.groupby('Destination')['Total_Cost'].mean()
cost

Destination
ALBANIA           73664.210000
ALEJANDROSHIRE    78168.730000
ARUBA              8573.290000
Adamsbury         22309.600000
Adamsfurt         15705.440000
                      ...
Zacharyberg       41751.850000
Zambia            20658.930000
Zamoramouth       84404.310000
Zimbabwe          31329.406667
Zimmermantown     59139.600000
Name: Total_Cost, Length: 858, dtype: float64

question 2

In [ ]:
df['Travel_Dates'] = pd.to_datetime(df['Travel_Dates'],errors='coerce')
min_date = df['Travel_Dates'].min()
max_date = df['Travel_Dates'].max()


min_date, max_date

(Timestamp('2023-08-20 20:25:00-0200', tz='tzoffset(None, -7200)'),
 Timestamp('2024-08-16 20:25:00-0200', tz='tzoffset(None, -7200)'))

question 3

In [ ]:
unique_destinations = df['Destination'].nunique()
unique_destinations

858

question 4

In [ ]:
df['Travel_Dates'] = pd.to_datetime(df['Travel_Dates'],errors='coerce')
invalid_dates = df[df['Travel_Dates'].isna()]
invalid_dates

,Booking_ID,Customer_ID,Destination,Travel_Dates,Booking_Date,Number_of_Travelers,Travel_Package,Payment_Method,Total_Cost,Travel_Agent,Customer_Feedback
1,BKG02701,CUST4963,Vietnam,NaT,2024-02-05,3.0,Standard,Credit Card,36619.85,Wood Group,Position call within size than couple. Effect ...
2,BKG03648,cust5625,Tokyo,NaT,2024-07-17,2.0,NaN,NaN,44543.87,Bridges-Collins,NaN
3,BKG02513,CUST4246,Delhi,NaT,2024-03-15,6.0,Luxury,Credit Card,41053.94,"Edwards, Hill and Lee",NaN
4,bkg02903,CUST3901,Chennai,NaT,2023-04-09,3.0,Luxury,PayPal,36238.26,Hardy Inc,NaN
5,BKG00009,CUST1126,Woodport,NaT,2024-01-21,8.0,Premium,Bank Transfer,29745.98,NaN,Manager rule although financial best state how...
...,...,...,...,...,...,...,...,...,...,...,...
5245,BKG03093,CUST4090,BRANDYVILLE,NaT,2024-08-17,3.0,NaN,Bank Transfer,45823.85,"King, Porter and Patrick",Understand man remain tough.
5246,BKG03773,CUST0249,SAINT LUCIA,NaT,2023-04-07,1.0,NaN,NaN,28937.40,Lane-Hopkins,Scientist bank wife. Measure prevent fear imag...
5247,bkg04354,CUST3227,Delhi,NaT,2024-04-15,6.0,Luxury,Bank Transfer,63021.04,Curry-Duke,Space area above score economy happy spring in...
5248,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN
5249,BKG00861,CUST1529,Turkmenistan,NaT,2024-07-12,3.0,Standard,PayPal,77632.50,"Lewis, Jones and Morgan",NaN

question 5 a

In [ ]:
non_positive_travelers = df[df['Number_of_Travelers'] <= 0]
non_positive_travelers

Empty DataFrame
Columns: [Booking_ID, Customer_ID, Destination, Travel_Dates, Booking_Date, Number_of_Travelers, Travel_Package, Payment_Method, Total_Cost, Travel_Agent, Customer_Feedback]
Index: []

question 5 b

In [ ]:
max_reasonable_travelers = 100
unresonable_travelers = df[df['Number_of_Travelers'] <= max_reasonable_travelers]
unresonable_travelers

,Booking_ID,Customer_ID,Destination,Travel_Dates,Booking_Date,Number_of_Travelers,Travel_Package,Payment_Method,Total_Cost,Travel_Agent,Customer_Feedback
0,BKG01438,CUST5663,BANGALORE,2024-05-27 20:25:00-02:00,2023-07-26,3.0,Premium,Debit Card,41695.84,Bass Inc,Power matter brother guy. Out adult perhaps ge...
1,BKG02701,CUST4963,Vietnam,NaT,2024-02-05,3.0,Standard,Credit Card,36619.85,Wood Group,Position call within size than couple. Effect ...
2,BKG03648,cust5625,Tokyo,NaT,2024-07-17,2.0,NaN,NaN,44543.87,Bridges-Collins,NaN
3,BKG02513,CUST4246,Delhi,NaT,2024-03-15,6.0,Luxury,Credit Card,41053.94,"Edwards, Hill and Lee",NaN
4,bkg02903,CUST3901,Chennai,NaT,2023-04-09,3.0,Luxury,PayPal,36238.26,Hardy Inc,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5244,BKG00467,CUST0769,Paris,NaT,2024-07-19,1.0,NaN,PayPal,6825.58,Merritt Group,NaN
5245,BKG03093,CUST4090,BRANDYVILLE,NaT,2024-08-17,3.0,NaN,Bank Transfer,45823.85,"King, Porter and Patrick",Understand man remain tough.
5246,BKG03773,CUST0249,SAINT LUCIA,NaT,2023-04-07,1.0,NaN,NaN,28937.40,Lane-Hopkins,Scientist bank wife. Measure prevent fear imag...
5247,bkg04354,CUST3227,Delhi,NaT,2024-04-15,6.0,Luxury,Bank Transfer,63021.04,Curry-Duke,Space area above score economy happy spring in...
5249,BKG00861,CUST1529,Turkmenistan,NaT,2024-07-12,3.0,Standard,PayPal,77632.50,"Lewis, Jones and Morgan",NaN